<%- include('../partials/header') %>
<body>
    <section id="show-page">
        <div style="text-decoration: underline;font-size: 30px;">Trail Name: </div>
        <div style="font-size: 25px;"><%= trail.name %></div><br>
        <div style="text-decoration: underline;font-size: 30px;">Bike Friendly: </div>
        <div style="font-size: 25px;"><%= trail.bikeFriendly ? 'Yes' : 'No' %></div><br>
        <div style="text-decoration: underline;font-size: 30px;">Miles: </div>
        <div style="font-size: 25px;"><%= trail.miles %></div><br>
        <div style="text-decoration: underline;font-size: 30px;">Rating: </div>
        <div style="font-size: 25px;"><%= trail.rating %></div><br>
        <div style="text-decoration: underline;font-size: 30px;">Trail description: </div>
        <div style="font-size: 25px;"><%= trail.content %></div><br>
        <div>Created By:</div>
        <div><%= trail.user.name %></div><br>
        <% if (trail.user._id.equals(user && user._id)) { %>
        <a style="color: whitesmoke" href="/trails/<%= trail._id %>/edit">Edit Trail</a>
        <td><form action="/trails/<%= trail._id %>?_method=DELETE" method="POST" class="secondary-content">
            <button style="font-size: large; margin-top: 10px;" type="submit" class="btn-small red-text">Delete Trail</button>
          </form></td>
        <% } %>
    </section>
<br><br>
<section id="reviewz">
    <h3 style="text-decoration: underline;font-size: 25px;">Reviews</h3>
    <form id="add-review-form" method="POST" action="/trails/<%= trail._id %>/reviews">
        <label style="display: block;font-size: larger;">Review:</label>
        <textarea style="height:150px;width:250px;border: 2px solid black;" name="content"></textarea>
        <input style="display:block;margin-left:590px;font-size: larger;" type="submit" value="Add Review">
    </form>
    <% if (trail.reviews.length) { %>
    <table>
        <thead>
            <tr>
                <th style="text-decoration: underline;">Date</th>
                <th style="text-decoration: underline;">Review</th>
                <th style="text-decoration: underline;">Created By</th>
            </tr>
        </thead>
        <tbody>
            <% trail.reviews.forEach(function(t) { %>
            <tr>
                <td><%= t.createdAt.toLocaleDateString() %></td>
                <td><%= t.content %></td>
                <td><%= user.name %></td> 
                <!-- proifile id -->
                <td><form action="/trails/<%= t._id %>/review?_method=DELETE" method="POST" class="secondary-content">
                    <button type="submit" class="btn-small red-text">X</button>
                  </form></td>
            </tr>
           <% }); %>
           <tr>
               <td colspan="2"></td>
           </tr>
        </tbody>
    </table>
<% } else { %>
    <h5>No Reviews Yet</h5>
<% } %>
</section>
</body>
</html>
